.fk-tooltip {
  --fk-popover-bg-color: var(--fk-bg-color-overlay);
  --fk-popover-font-size: var(--fk-font-size-base);
  --fk-popover-border-color: var(--fk-border-color);
  --fk-popover-padding: 12px;
  --fk-popover-border-radius: 4px;
  display: inline-block;
}

.fk-tooltip {
  .fk-tooltip__popper {
    background: var(--fk-popover-bg-color);
    border-radius: var(--fk-popover-border-radius);
    border: 1px solid var(--fk-popover-border-color);
    padding: var(--fk-popover-padding);
    color: var(--fk-text-color-regular);
    line-height: 1.4;
    text-align: justify;
    font-size: var(--fk-popover-font-size);
    box-shadow: var(--fk-box-shadow-light);
    word-break: break-all;
    box-sizing: border-box;
    z-index: 1000;
    #arrow,
    #arrow::before {
      position: absolute;
      width: 8px;
      height: 8px;
      box-sizing: border-box;
      background: var(--fk-popover-bg-color); 
    }
    #arrow {
      visibility: hidden;
    }
    #arrow::before {
      visibility: visible;
      content: "";
      transform: rotate(45deg);
    }
    &[data-popper-placement^='top'] > #arrow {
      bottom: -5px;
    }
    
    &[data-popper-placement^='bottom'] > #arrow {
      top: -5px;
    }
    
    &[data-popper-placement^='left'] > #arrow {
      right: -5px;
    }
    
    &[data-popper-placement^='right'] > #arrow {
      left: -5px;
    }
    &[data-popper-placement^="top"] > #arrow::before {
      border-right: 1px solid var(--fk-popover-border-color);
      border-bottom: 1px solid var(--fk-popover-border-color);
    }
    &[data-popper-placement^="bottom"] > #arrow::before {
      border-left: 1px solid var(--fk-popover-border-color);
      border-top: 1px solid var(--fk-popover-border-color);
    }
    &[data-popper-placement^="left"] > #arrow::before {
      border-right: 1px solid var(--fk-popover-border-color);
      border-top: 1px solid var(--fk-popover-border-color);
    }
    &[data-popper-placement^="right"] > #arrow::before {
      border-left: 1px solid var(--fk-popover-border-color);
      border-bottom: 1px solid var(--fk-popover-border-color);
    }
  }  

  .fade-enter-active,
  .fade-leave-active {
    transition: opacity var(--fk-transition-duration);
  }

  .fade-enter-from,
  .fade-leave-to {
    opacity: 0;
  }
}