.fk-input {
  --fk-input-text-color: var(--fk-text-color-regular);
  --fk-input-border: var(--fk-border);
  --fk-input-hover-border: var(--fk-border-color-hover);
  --fk-input-focus-border: var(--fk-color-primary);
  --fk-input-transparent-border: 0 0 0 1px transparent inset;
  --fk-input-border-color: var(--fk-border-color);
  --fk-input-border-radius: var(--fk-border-radius-base);
  --fk-input-bg-color: var(--fk-fill-color-blank);
  --fk-input-icon-color: var(--fk-text-color-placeholder);
  --fk-input-placeholder-color: var(--fk-text-color-placeholder);
  --fk-input-hover-border-color: var(--fk-border-color-hover);
  --fk-input-clear-hover-color: var(--fk-text-color-secondary);
  --fk-input-focus-border-color: var(--fk-color-primary);
}

.fk-input {
  --fk-input-height: var(--fk-component-size);
  position: relative;
  font-size: var(--fk-font-size-base);
  display: inline-flex;
  width: 100%;
  line-height: var(--fk-input-height);
  box-sizing: border-box;
  vertical-align: middle;
  &.is-disabled {
    cursor: not-allowed;
    .fk-input__wrapper {
      background-color: var(--fk-disabled-bg-color);
      box-shadow: 0 0 0 1px var(--fk-disabled-border-color) inset;
    }
    .fk-input__inner {
      color: var(--fk-disabled-text-color);
      -webkit-text-fill-color: var(--fk-disabled-text-color);
      cursor: not-allowed;
    }
    .fk-textarea__inner {
      background-color: var(--fk-disabled-bg-color);
      box-shadow: 0 0 0 1px var(--fk-disabled-border-color) inset;
      color: var(--fk-disabled-text-color);
      -webkit-text-fill-color: var(--fk-disabled-text-color);
      cursor: not-allowed;
    }
  }
  &.is-prepend {
    >.fk-input__wrapper {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
  &.is-append {
    >.fk-input__wrapper {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
}

.fk-input--large {
  --fk-input-height: var(--fk-component-size-large);
  font-size: 14px;
  .fk-input__wrapper {
    padding: 1px 15px;
    .fk-input__inner {
      --fk-input-inner-height: calc(var(--fk-input-height, 40px) - 2px);
    }
  }

}
.fk-input--small {  
  --fk-input-height: var(--fk-component-size-small);
  font-size: 12px;
  .fk-input__wrapper {
    padding: 1px 7px;
    .fk-input__inner {
      --fk-input-inner-height: calc(var(--fk-input-height, 24px) - 2px);
    } 
  }
}
.fk-input__prefix, .fk-input__suffix {
  display: inline-flex;
  white-space: nowrap;
  flex-shrink: 0;
  flex-wrap: nowrap;
  height: 100%;
  text-align: center;
  color: var(--fk-input-icon-color, var(--fk-text-color-placeholder));
  transition: all var(--fk-transition-duration);
}
.fk-input__prefix {
  >:first-child {
    margin-left: 0px !important;
  }
  >:last-child {
    margin-right: 8px !important;
  }
}
.fk-input__suffix {
  >:first-child {
    margin-left: 8px !important;
  }
  >:last-child {
    margin-right: 0px !important;
  }
}
.fk-input__prepend, .fk-input__append {
  background-color: var(--fk-fill-color-light);
  color: var(--fk-color-info);
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-height: 100%;
  border-radius: var(--fk-input-border-radius);
  padding: 0 20px;
  white-space: nowrap;
}
.fk-input__prepend {
  border-right: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  box-shadow: 1px 0 0 0 var(--fk-input-border-color) inset,0 1px 0 0 var(--fk-input-border-color) inset,0 -1px 0 0 var(--fk-input-border-color) inset;

}
.fk-input__append {
  border-left: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  box-shadow: 0 1px 0 0 var(--fk-input-border-color) inset,0 -1px 0 0 var(--fk-input-border-color) inset,-1px 0 0 0 var(--fk-input-border-color) inset;
  & >.fk-input__wrapper {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

.fk-input--textarea {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: bottom;
  font-size: var(--fk-font-size-base);
}
.fk-textarea__wrapper {
  position: relative;
  display: block;
  resize: vertical;
  padding: 5px 11px;
  line-height: 1.5;
  box-sizing: border-box;
  width: 100%;
  font-size: inherit;
  font-family: inherit;
  color: var(--fk-input-text-color, var(--fk-text-color-regular));
  background-color: var(--fk-input-bg-color, var(--fk-fill-color-blank));
  background-image: none;
  -webkit-appearance: none;
  box-shadow: 0 0 0 1px var(--fk-input-border-color, var(--fk-border-color)) inset;
  border-radius: var(--fk-input-border-radius, var(--fk-border-radius-base));
  transition: var(--fk-transition-box-shadow);
  border: none;
  &:focus {
    outline: none;
    box-shadow: 0 0 0 1px var(--fk-input-focus-border-color, var(--fk-border-color)) inset; 
  }
  &::placeholder {
    color: var(--fk-input-placeholder-color);
  }
}
.fk-input__wrapper {
  display: inline-flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  padding: 1px 11px;
  background-color: var(--fk-input-bg-color, var(--fk-fill-color-blank)); 
  background-image: none;
  border-radius: var(--fk-input-border-radius, var(--fk-border-radius-base)); 
  transition: var(--fk-transition-box-shadow);
  box-shadow: 0 0 0 1px var(--fk-input-border-color, var(--fk-border-color)) inset; 
  &:hover {
    box-shadow: 0 0 0 1px var(--fk-input-hover-border-color, var(--fk-border-color)) inset; 
  }
  &.is-focus {
    box-shadow: 0 0 0 1px var(--fk-input-focus-border-color, var(--fk-border-color)) inset;     
  }
  .fk-input__inner {
    --fk-input-inner-height: calc(var(--fk-input-height, 32px) - 2px);
    width: 100%;
    flex-grow: 1;
    -webkit-appearance: none;
    color: var(--fk-input-text-color, var(--fk-text-color-regular));
    font-size: inherit;
    height: var(--fk-input-inner-height);
    line-height: var(--fk-input-inner-height);
    padding: 0;
    outline: none;
    border: none;
    background: none;
    box-sizing: border-box;
    &::placeholder {
      color: var(--fk-input-placeholder-color);
    }
  }  
  .fk-icon {
    height: inherit;
    line-height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all var(--fk-transition-duration);
    margin-left: 8px;
  }
  .fk-input__clear, .fk-input__password {
    color: var(--fk-input-icon-color);
    font-size: 14px;
    cursor: pointer;
    &:hover {
     color: var(--fk-input-clear-hover-color);
    }
  }
}

