:root {
  /* colors */
  --fk-color-white: #ffffff;
  --fk-color-black: #000000;
  
  /* 定义颜色映射 */
  --fk-color-primary: #409eff;
  --fk-color-primary-light-3: color-mix(in srgb, var(--fk-color-primary) 70%, #fff 30%);
  --fk-color-primary-light-5: color-mix(in srgb, var(--fk-color-primary) 50%, #fff 50%);
  --fk-color-primary-light-7: color-mix(in srgb, var(--fk-color-primary) 30%, #fff 70%);  
  --fk-color-primary-light-8: color-mix(in srgb, var(--fk-color-primary) 20%, #fff 80%);
  --fk-color-primary-dark-2: color-mix(in srgb, var(--fk-color-primary) 80%, #000 20%);     

  --fk-color-success: #67c23a;
  --fk-color-success-light-3: color-mix(in srgb, var(--fk-color-success) 70%, #fff 30%);
  --fk-color-success-light-5: color-mix(in srgb, var(--fk-color-success) 50%, #fff 50%);
  --fk-color-success-light-7: color-mix(in srgb, var(--fk-color-success) 30%, #fff 70%);
  --fk-color-success-light-8: color-mix(in srgb, var(--fk-color-success) 20%, #fff 80%);
  --fk-color-success-dark-2: color-mix(in srgb, var(--fk-color-success) 80%, #000 20%);

  --fk-color-warning: #e6a23c;
  --fk-color-warning-light-3: color-mix(in srgb, var(--fk-color-warning) 70%, #fff 30%);
  --fk-color-warning-light-5: color-mix(in srgb, var(--fk-color-warning) 50%, #fff 50%);
  --fk-color-warning-light-7: color-mix(in srgb, var(--fk-color-warning) 30%, #fff 70%);
  --fk-color-warning-light-8: color-mix(in srgb, var(--fk-color-warning) 20%, #fff 80%);  
  --fk-color-warning-dark-2: color-mix(in srgb, var(--fk-color-warning) 80%, #000 20%);

  --fk-color-danger: #f56c6c;
  --fk-color-danger-light-3: color-mix(in srgb, var(--fk-color-danger) 70%, #fff 30%);
  --fk-color-danger-light-5: color-mix(in srgb, var(--fk-color-danger) 50%, #fff 50%);
  --fk-color-danger-light-7: color-mix(in srgb, var(--fk-color-danger) 30%, #fff 70%);
  --fk-color-danger-light-8: color-mix(in srgb, var(--fk-color-danger) 20%, #fff 80%);    
  --fk-color-danger-dark-2: color-mix(in srgb, var(--fk-color-danger) 80%, #000 20%);

  --fk-color-info: #909399;
  --fk-color-info-light-3: color-mix(in srgb, var(--fk-color-info) 70%, #fff 30%);  
  --fk-color-info-light-5: color-mix(in srgb, var(--fk-color-info) 50%, #fff 50%);
  --fk-color-info-light-7: color-mix(in srgb, var(--fk-color-info) 30%, #fff 70%);
  --fk-color-info-light-8: color-mix(in srgb, var(--fk-color-info) 20%, #fff 80%);
  --fk-color-info-dark-2: color-mix(in srgb, var(--fk-color-info) 80%, #000 20%);

  --fk-bg-color: #ffffff;
  --fk-bg-color-page: #f2f3f5;
  --fk-bg-color-overlay: #ffffff;
  --fk-text-color-primary: #303133;
  --fk-text-color-regular: #606266;
  --fk-text-color-secondary: #909399;
  --fk-text-color-placeholder: #a8abb2;
  --fk-text-color-disabled: #c0c4cc;    
  --fk-border-color: #dcdfe6;
  --fk-border-color-light: #e4e7ed;
  --fk-border-color-lighter: #ebeef5;
  --fk-border-color-extra-light: #f2f6fc;
  --fk-border-color-dark: #d4d7de;
  --fk-border-color-darker: #cdd0d6;
  --fk-fill-color: #f0f2f5;
  --fk-fill-color-light: #f5f7fa;
  --fk-fill-color-lighter: #fafafa;
  --fk-fill-color-extra-light: #fafcff;
  --fk-fill-color-dark: #ebedf0;
  --fk-fill-color-darker: #e6e8eb;
  --fk-fill-color-blank: #ffffff;

  /* border */
  --fk-border-width: 1px;
  --fk-border-style: solid;
  --fk-border-color-hover: var(--fk-text-color-disabled);
  --fk-border: var(--fk-border-width) var(--fk-border-style) var(--fk-border-color);
  --fk-border-radius-base: 4px;
  --fk-border-radius-small: 2px;
  --fk-border-radius-round: 20px;
  --fk-border-radius-circle: 100%;

  /*font*/
  --fk-font-size-extra-large: 20px;
  --fk-font-size-large: 18px;
  --fk-font-size-medium: 16px;
  --fk-font-size-base: 14px;
  --fk-font-size-small: 13px;
  --fk-font-size-extra-small: 12px;
  --fk-font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "\5fae\8f6f\96c5\9ed1", Arial, sans-serif;
  --fk-font-weight-primary: 500;

  /*disabled*/
  --fk-disabled-bg-color: var(--fk-fill-color-light);
  --fk-disabled-text-color: var(--fk-text-color-placeholder);
  --fk-disabled-border-color: var(--fk-border-color-light);   
  
  /*animation*/
  --fk-transition-duration: 1s;
  --fk-transition-duration-fast: .5s;
}